<h1>No olvidar cambiar la fecha de lectura del csv mas reciente</h1>

In [1]:
import pandas as pd

In [2]:
def createIndex(x):
    key = str(x['Date(UTC)'].year),str(x['Date(UTC)'].strftime("%H:%M:%S")),str(x['Date(UTC)'].day),x['Fee Coin'],str(x['Amount'])
    return key

In [3]:
#Amount = cantidad crypto que obtuve
#total = dinero invertido
#Sell_Porcent = porcent of position selled
#price = precio al que compre
#rest valua es el amount de crypto que queda luego de haber vendido un determinado porcentaje de esa posicion 

#df DEBE SER EL OUTPUT 
#df = pd.read_csv("../BinanceDataSet/Exportar historial de operaciones-2022-06-07.csv")
df = pd.read_csv("../Output/CLEAN_data_10-14-2023.csv")
df['Date(UTC)'] = pd.to_datetime(df['Date(UTC)']) 
df['key'] = df.apply(createIndex,axis=1)
df['rest_value'] = df['Amount'] - df['Amount'] * (df['sell_Porcent']/100) 


# #EL RDF DEBE SER DESDE LA FECHA DEL ULTIMO REPORTE HASTA EL DIA anterior 

rdf = pd.read_csv("../BinanceDataSet/Export Trade History-2023-10-18 00_04_11.csv")

rdf['Date(UTC)'] = pd.to_datetime(rdf['Date(UTC)'])
rdf['sell_Porcent'] = 0
rdf['is_Open'] = True
rdf['key'] = rdf.apply(createIndex,axis=1)
rdf['rest_value'] = rdf['Amount'] - rdf['Amount'] * (rdf['sell_Porcent']/100) 
df.head()

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13
0,2022-05-16 02:42:00,LUNABUSD,BUY,0.00026,38389.18,9.999997,38.389180,LUNA,0,True,"(2022, 02:42:00, 16, LUNA, 38389.18)",38389.18,NaN,NaN
1,2022-06-13 01:34:00,VETBUSD,BUY,0.02487,410.10,10.199187,0.410100,VET,0,True,"(2022, 01:34:00, 13, VET, 410.1)",410.10,NaN,NaN
2,2022-11-23 05:28:00,ROSEUSDT,SELL,0.04643,215.40,10.001022,0.010001,USDT,0,True,"(2022, 05:28:00, 23, USDT, 215.4)",215.40,NaN,NaN
3,2022-07-12 01:56:00,ROSEUSDT,BUY,0.04687,215.40,10.095798,0.215400,ROSE,0,True,"(2022, 01:56:00, 12, ROSE, 215.4)",215.40,NaN,NaN
4,2022-06-12 02:47:00,ROSEUSDT,BUY,0.05515,185.20,10.213780,0.185200,ROSE,0,True,"(2022, 02:47:00, 12, ROSE, 185.2)",185.20,NaN,NaN

In [4]:
rdf.head()

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value
0,2023-10-17 22:40:19,ETHUSDT,BUY,1563.21,0.00310,4.845951,3.100000e-06,ETH,0,True,"(2023, 22:40:19, 17, ETH, 0.0031)",0.00310
1,2023-10-17 18:53:54,ETHUSDT,BUY,1551.50,0.00330,5.119950,3.300000e-06,ETH,0,True,"(2023, 18:53:54, 17, ETH, 0.0033)",0.00330
2,2023-10-16 13:59:06,BTCUSDT,BUY,27994.85,0.00018,5.039073,1.800000e-07,BTC,0,True,"(2023, 13:59:06, 16, BTC, 0.00018)",0.00018
3,2023-10-16 13:47:07,BTCUSDT,SELL,28170.95,0.00254,71.554213,7.155421e-02,USDT,0,True,"(2023, 13:47:07, 16, USDT, 0.00254)",0.00254
4,2023-10-15 21:08:52,BTCUSDT,SELL,27188.21,0.00078,21.206804,2.120680e-02,USDT,0,True,"(2023, 21:08:52, 15, USDT, 0.00078)",0.00078

In [5]:
df = pd.concat([df,rdf])
df = df.reset_index(drop=True)
df.drop_duplicates(subset=['key'],keep='first',inplace=True)
df = df.loc[df['is_Open']==True]
df

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13
0,2022-05-16 02:42:00,LUNABUSD,BUY,0.00026,38389.18000,9.999997,3.838918e+01,LUNA,0,True,"(2022, 02:42:00, 16, LUNA, 38389.18)",38389.18000,NaN,NaN
1,2022-06-13 01:34:00,VETBUSD,BUY,0.02487,410.10000,10.199187,4.101000e-01,VET,0,True,"(2022, 01:34:00, 13, VET, 410.1)",410.10000,NaN,NaN
2,2022-11-23 05:28:00,ROSEUSDT,SELL,0.04643,215.40000,10.001022,1.000102e-02,USDT,0,True,"(2022, 05:28:00, 23, USDT, 215.4)",215.40000,NaN,NaN
3,2022-07-12 01:56:00,ROSEUSDT,BUY,0.04687,215.40000,10.095798,2.154000e-01,ROSE,0,True,"(2022, 01:56:00, 12, ROSE, 215.4)",215.40000,NaN,NaN
4,2022-06-12 02:47:00,ROSEUSDT,BUY,0.05515,185.20000,10.213780,1.852000e-01,ROSE,0,True,"(2022, 02:47:00, 12, ROSE, 185.2)",185.20000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,2023-10-17 22:40:19,ETHUSDT,BUY,1563.21000,0.00310,4.845951,3.100000e-06,ETH,0,True,"(2023, 22:40:19, 17, ETH, 0.0031)",0.00310,NaN,NaN
592,2023-10-17 18:53:54,ETHUSDT,BUY,1551.50000,0.00330,5.119950,3.300000e-06,ETH,0,True,"(2023, 18:53:54, 17, ETH, 0.0033)",0.00330,NaN,NaN
593,2023-10-16 13:59:06,BTCUSDT,BUY,27994.85000,0.00018,5.039073,1.800000e-07,BTC,0,True,"(2023, 13:59:06, 16, BTC, 0.00018)",0.00018,NaN,NaN
594,2023-10-16 13:47:07,BTCUSDT,SELL,28170.95000,0.00254,71.554213,7.155421e-02,USDT,0,True,"(2023, 13:47:07, 16, USDT, 0.00254)",0.00254,NaN,NaN
595,2023-10-15 21:08:52,BTCUSDT,SELL,27188.21000,0.00078,21.206804,2.120680e-02,USDT,0,True,"(2023, 21:08:52, 15, USDT, 0.00078)",0.00078,NaN,NaN

In [6]:
df.head()

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13
0,2022-05-16 02:42:00,LUNABUSD,BUY,0.00026,38389.18,9.999997,38.389180,LUNA,0,True,"(2022, 02:42:00, 16, LUNA, 38389.18)",38389.18,NaN,NaN
1,2022-06-13 01:34:00,VETBUSD,BUY,0.02487,410.10,10.199187,0.410100,VET,0,True,"(2022, 01:34:00, 13, VET, 410.1)",410.10,NaN,NaN
2,2022-11-23 05:28:00,ROSEUSDT,SELL,0.04643,215.40,10.001022,0.010001,USDT,0,True,"(2022, 05:28:00, 23, USDT, 215.4)",215.40,NaN,NaN
3,2022-07-12 01:56:00,ROSEUSDT,BUY,0.04687,215.40,10.095798,0.215400,ROSE,0,True,"(2022, 01:56:00, 12, ROSE, 215.4)",215.40,NaN,NaN
4,2022-06-12 02:47:00,ROSEUSDT,BUY,0.05515,185.20,10.213780,0.185200,ROSE,0,True,"(2022, 02:47:00, 12, ROSE, 185.2)",185.20,NaN,NaN

In [7]:
# dfg = df.groupby('Fee Coin').sum()
# dfg
#df['Fee Coin'] == 'BNB'

In [8]:
adaDf = df.loc[(df['Market']=='ADAUSDT') | (df['Market']=='ADABUSD')]
btcDf = df.loc[(df['Market']=='BTCUSDT') | (df['Market']=='BTCBUSD')]
ethDf = df.loc[(df['Market']=='ETHUSDT') | (df['Market']=='ETHBUSD')]
dotDf = df.loc[(df['Market']=='DOTUSDT') | (df['Market']=='DOTBUSD')]
solDf = df.loc[(df['Market']=='SOLUSDT') | (df['Market']=='SOLBUSD')]
roseDf = df.loc[(df['Market']=='ROSEUSDT') | (df['Market']=='ROSEBUSD')]
bnbDf = df.loc[(df['Market']=='BNBUSDT') | (df['Market']=='BNBBUSD')]



adaDf.head()

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13
14,2022-12-20 16:12:00,ADABUSD,SELL,0.2595,39.9,10.35405,0.000031,BNB,0,True,"(2022, 16:12:00, 20, BNB, 39.9)",39.90,NaN,NaN
16,2022-12-16 23:56:00,ADABUSD,BUY,0.2638,40.4,10.65752,0.040400,ADA,60,True,"(2022, 23:56:00, 16, ADA, 40.4)",16.16,NaN,NaN
17,2022-12-16 22:34:00,ADAUSDT,BUY,0.2800,36.0,10.08000,0.036000,ADA,70,True,"(2022, 22:34:00, 16, ADA, 36.0)",10.80,NaN,NaN
18,2022-12-16 11:32:00,ADAUSDT,BUY,0.2863,35.2,10.07776,0.035200,ADA,90,True,"(2022, 11:32:00, 16, ADA, 35.2)",3.52,NaN,NaN
19,2023-01-10 04:01:00,ADABUSD,SELL,0.3141,194.4,61.06104,0.061061,BUSD,0,True,"(2023, 04:01:00, 10, BUSD, 194.4)",194.40,NaN,NaN

In [9]:
adaDf = adaDf.loc[adaDf['Type']== 'BUY']
btcDf = btcDf.loc[btcDf['Type']== 'BUY']
ethDf = ethDf.loc[ethDf['Type']== 'BUY']
dotDf = dotDf.loc[dotDf['Type']== 'BUY']
solDf = solDf.loc[solDf['Type']== 'BUY']
roseDf = roseDf.loc[roseDf['Type']== 'BUY']
bnbDf = bnbDf.loc[bnbDf['Type']== 'BUY']
df = df.loc[df['Type']== 'BUY']

In [10]:
(df['Type']=='SELL').sum()

0

In [11]:
#Order de mayor a menor 
adaDf = adaDf.sort_values(by='Price')
ethDf = ethDf.sort_values(by='Price')
btcDf = btcDf.sort_values(by='Price')
dotDf = dotDf.sort_values(by='Price')
solDf = solDf.sort_values(by='Price')
roseDf = roseDf.sort_values(by='Price')
bnbDf = bnbDf.sort_values(by='Price')

In [12]:
#New Index
btcDf = btcDf.reset_index(drop=True)
dotDf = dotDf.reset_index(drop=True)
adaDf = adaDf.reset_index(drop=True)
ethDf = ethDf.reset_index(drop=True)
solDf = solDf.reset_index(drop=True)
roseDf = roseDf.reset_index(drop=True)
bnbDf = bnbDf.reset_index(drop=True)

btcDf

,Date(UTC),Market,Type,Price,Amount,Total,Fee,Fee Coin,sell_Porcent,is_Open,key,rest_value,Unnamed: 12,Unnamed: 13
0,2022-11-09 22:06:00,BTCUSDT,BUY,15650.00,0.00064,10.016000,0.000000e+00,BNB,90,True,"(2022, 22:06:00, 9, BNB, 0.00064)",0.000064,NaN,NaN
1,2022-12-16 23:11:00,BTCBUSD,BUY,16600.00,0.00061,10.126000,0.000000e+00,BNB,90,True,"(2022, 23:11:00, 16, BNB, 0.00061)",0.000061,NaN,NaN
2,2022-11-02 22:53:00,BTCUSDT,BUY,20060.00,0.00050,10.030000,0.000000e+00,BNB,50,True,"(2022, 22:53:00, 2, BNB, 0.0005)",0.000250,NaN,NaN
3,2023-03-10 13:52:00,BTCUSDT,BUY,20215.73,0.00059,11.927281,0.000000e+00,BNB,60,True,"(2023, 13:52:00, 10, BNB, 0.00059)",0.000236,NaN,NaN
4,2023-02-09 20:19:00,BTCBUSD,BUY,21870.00,0.00046,10.060200,0.000000e+00,BNB,60,True,"(2023, 20:19:00, 9, BNB, 0.00046)",0.000184,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2023-07-06 14:31:00,BTCUSDT,BUY,30023.60,0.00033,9.907788,3.300000e-07,BTC,70,True,"(2023, 14:31:00, 6, BTC, 0.00033)",0.000099,NaN,NaN
71,2023-07-14 18:53:00,BTCUSDT,BUY,30174.01,0.00033,9.957423,3.300000e-07,BTC,20,True,"(2023, 18:53:00, 14, BTC, 0.00033)",0.000264,NaN,NaN
72,2023-07-14 20:54:00,BTCUSDT,BUY,30190.62,0.00033,9.962905,3.300000e-07,BTC,30,True,"(2023, 20:54:00, 14, BTC, 0.00033)",0.000231,NaN,NaN
73,2023-07-14 18:31:00,BTCUSDT,BUY,30200.00,0.00034,10.268000,3.400000e-07,BTC,60,True,"(2023, 18:31:00, 14, BTC, 0.00034)",0.000136,NaN,NaN
74,2023-07-14 18:21:00,BTCUSDT,BUY,30530.62,0.00033,10.075105,3.300000e-07,BTC,0,True,"(2023, 18:21:00, 14, BTC, 0.00033)",0.000330,NaN,NaN

In [13]:
df.to_csv('../Output/CLEAN_data_10-18-2023.csv',index=False)
df.to_csv('../Output/BackUpMainFiles/CLEAN_data_10-18-2023.csv',index=False)
# adaDf.to_csv('../Output/ADA_clean_data_12-20-2022.csv')
# btcDf.to_csv('../Output/BTC_clean_data_12-20-2022.csv')
# ethDf.to_csv('../Output/ETH_clean_data_12-20-2022.csv')
# dotDf.to_csv('../Output/Dot_clean_data_12-20-2022.csv')
# solDf.to_csv('../Output/Sol_clean_data_12-20-2022.csv')
# roseDf.to_csv('../Output/Rose_clean_data_12-20-2022.csv')
# bnbDf.to_csv('../Output/BNB_clean_data_12-20-2022.csv')